.top-slider-img {
    width: 100%;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    bottom: 1.2vw;
}

.slick-dots li {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.top-slider-dots {
    width: 0.5vw;
    height: 0.5vw;
    color: rgba(255, 255, 255, 0);
    border: 0.2vw white solid;
    border-radius: 50%;
}