.menulist {
    background-color: rgba(255, 255, 255, 0.507);
    display: flex;
    position: absolute;
    top: 2.8vw;
    left: 0;
    padding-right: 32vw;
    padding-left: 0.4vw;
    padding-top: 1vw;
}

.menulist-first {
    padding-right: 2vw;
}

.menulist-second {
    padding-left: 0;
    padding-right: 2vw;
}

.menulist-third {
    padding-left: 0;
}

.menulist li {
    list-style: none;
    font-size: 0.8vw;
    margin-bottom: 1.5vw;
}